@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&family=Sora:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    filter: blur(10);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;
    background-color: #65737e;
    color: white;
}

button {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}

.navigation {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav-links a{
    text-decoration: none;
    color: white;
    transition: .2s ease all;
}

.nav-links a:hover {
    background-color: #6e7d89;
    padding: .8rem;
    border-radius: 7px;
    text-underline-offset: .5rem;
    transition: .2s ease all;
}

main {
    display: flex;
    justify-content: space-between;
}

.card-heading {
    border-bottom: 1px solid rgb(187, 187, 187);
}
.panel {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap ; */
    gap: 1rem;
    /* margin-right: 20rem; */
}

.services {
    display: flex;
    flex-wrap: wrap ;
    gap: 1rem;
    /* margin-right: 20rem; */
}

.card-img {
    width: 15rem;
    height: auto;
    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 12px;
    align-items: center;
    width: 15rem;
    height: auto;
    gap: 0.5rem;
    overflow: hidden;
}

.card h2 {
    font-size: 22px;
}

.student-cards {
    display: flex;
}

#promo, #normal, #others {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside {
    background-color: #e8e8e8;
    width: 50rem;
    height: 100vh;
    /* position: absolute; */
    right: 0;
    margin: 1rem;
    border-radius: 12px;
}

.side-panel {
    padding: 2rem;
}

.btn-selector {
    padding: 0.4rem 1rem;
    border-radius: 7px;
    border: 1.5px solid black;
    cursor: pointer;
    transition: .2s ease-in-out all;
    width: 100%;

}

.btn-selector:hover {
    background-color: rgb(74, 74, 74);
    color: white;
    transition: .3s ease-in-out all;
}

/* popup */

.cash-register {
    position: fixed;
    background-color: #ebebeb;
    padding: 2rem;
    width: 18rem;
    border-radius: 12px;
    visibility: hidden;
    left: 40dvw;
    top: 35dvh  ;
    z-index: 2;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.popup {
    position: fixed;
    background-color: #ebebeb;
    padding: 2rem;
    width: 18rem;
    border-radius: 12px;
    visibility: hidden;
    left: 40dvw;
    top: 35dvh  ;
    z-index: 2;

    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.popup-btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#popup-btn {
    background-color: #92be6c;
}

#cancel-btn {
    background-color: rgb(192, 192, 192);
}

#cash-confirm-btn {
    background-color: #6cb4be;
}

#cash-cancel-btn {
    background-color: rgb(192, 192, 192);
}

#cash-confirm-btn, #cash-cancel-btn, #cancel-btn, #popup-btn {
    border: none;
    padding: .6rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bold;
    width: 45%;
}

.remove-btn {
    background-color: rgb(255, 86, 86);
    border: none;
    padding: .4rem .8rem;
    border-radius: 7px;
    cursor: pointer;
}

.open-popup {
    visibility: visible;
}

.more-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

th {
    padding: .5rem;
    text-align: start;
}

td {
    padding: .5rem;
    border-top: 1px solid rgb(168, 168, 168);
}
table {
    width: 100%;
}

.grand-total-container {
    margin-top: 1rem;
    border-top: 1px black solid;
    padding: .4rem 0rem;
}
/* INPUT QUANTITY */
#qty, #cash-amount { 
    background-color: #d8d8d8;
    padding: .5rem;
    border-radius: 7px;
    outline: none;
    border: none;
}

.fa-solid {
    color: white;
}

#save-btn {
    background-color: #a3be8c;
    border: none;
    padding: .6rem .8rem;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;

}

#save-btn:hover {
    background-color: #869c72;
    transition: .2s ease all;
}

#print-btn {
    background-color: #ebcb8b;
    border: none;
    padding: .6rem .8rem;
    border-radius: 7px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    transition: .2s ease all;
}

#print-btn:hover {
    background-color: #cbaf78;
    transition: .2s ease all;
}

#clear-btn {
    background-color: #d68989;
    border: none;
    padding: .6rem .8rem;
    border-radius: 7px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    transition: .2s ease all;
}

#cash-btn {
    background-color: #bebebe;
    border: none;
    padding: .6rem .8rem;
    border-radius: 7px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    transition: .2s ease all;
}

#cash-btn:hover {
    background-color: #9c9c9c;
    transition: .2s ease all;
}
.total-actions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.fa-print, .fa-download, .fa-circle-check, .fa-money-bill, .fa-times {
    color: black;
}

#amount-inserted {
    font-weight: 500;
}
#change-display {
    font-weight: 500;

    color: #e95a5a;
}

/* DIMMED BACKGROUND */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none;
    z-index: 1;
}


#save-form{
    display: flex;
    flex-direction: column;
}

#logout-btn {
    padding: .6rem;
    border: none;
    background-color: #798996;
    cursor:pointer;
    border-radius: 7px;
    color: white;
    transition: .2s ease all;

}

#logout-btn:hover{
    background-color: #6e7d89;
    transition: .2s ease all;
}